.dockerignore
Dockerfile

.git
.github
.task
.air.toml
.envrc
.gitignore
.golangci.yml

node_modules
tmp-run
exo
dist
bin
coverage.out
deploy
docs
example-repo
plugin-scripts

*_test.go
benchmark_test.go
integration_test.go
IMPROVEMENTS.md
LICENSE
README.md

*.log
.DS_Store
