node_modules/
/xo
static/css/output.css
static/js/
tmp/
.zk/*
notebook.db
.exo/cache
tmp-run
.task/
__pycache__/
plugin-scripts/
test-results
web/dist
web/src/generated/

dist

oldcodebase/node_modules/
oldcodebase/xo
oldcodebase/static/css/output.css
oldcodebase/static/js/
oldcodebase/tmp/
oldcodebase/.zk/*
oldcodebase/notebook.db
oldcodebase/.exo/cache
oldcodebase/tmp-run
oldcodebase/.task/
oldcodebase/__pycache__/
oldcodebase/plugin-scripts/
oldcodebase/test-results
oldcodebase/web/dist

/target/
/.exo/
HANDOFF.md
